@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #38598b;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item-enter {
  transform: translateX(350px);
}
.item-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
